
/* eslint-disable */
<template>
  <tr>
    <td class="odchody-td" style="text-align: center;">{{ name }}</td>
    <td class="odchody-td" style="text-align: center;">{{ battles_all }}</td>
    <td class="odchody-td" :style="winrateColor">{{ winrate }}</td>
    <td class="odchody-td" :style="wn8color">{{ roundWN8 }}</td>
    <td class="odchody-td" style="text-align: center;">{{ global_rating }}</td>
    <td class="odchody-td" style="text-align: center;">{{ pocet_x }}</td>
    <td class="odchody-td" style="text-align: center;">{{ pocet_8 }}</td>
    <td class="odchody-td" style="text-align: center;">{{ pocet_6 }}</td>
    <td class="odchody-td" style="text-align: center;">{{ last7 }}</td>
    <td class="odchody-td" style="text-align: center;">{{ last14 }}</td>
    <td class="odchody-td" style="text-align: center;">{{ last30 }}</td>
    <td class="odchody-td" style="text-align: center;">{{ avgxp }}</td>
    <td class="odchody-td" style="text-align: center;"><img :src='polniVelitel'/></td>
    <td class="odchody-td" style="text-align: center;"><img :src='Naborar'/></td>
  </tr>
</template>

<script>
import close from "@/assets/baseline-close-24px.svg"
import check from "@/assets/baseline-check-24px.svg"

export default {
  name: "RowComponent",

  props: {
    wn8: String,
    name: String,
    battles_all: String,
    winrate: String,
    global_rating: Number,
    pocet_x: Number,
    pocet_8: Number,
    pocet_6: Number,
    last30: String,
    last14: String,
    last7: String,
    avgxp: String,
    polni_velitel: Boolean,
    naborar: Boolean,
  },

  computed: {

    polniVelitel() {
      if( this.polni_velitel ){
        return check
      }
      else{
        return  close
      }

    },

    Naborar() {
      if( this.naborar ){
        return check
      }
      else{
        return  close
      }

    },

    wn8color() {
      let color;
      if (this.wn8 < 300) {
        color = "background-color: #930D0D;color: white;"
      } else if (this.wn8 >= 300 && this.wn8 <= 449) {
        color = "background-color: #cd3333;color: white;"
      } else if (this.wn8 >= 450 && this.wn8 <= 649) {
        color = "background-color: #CC7A00;color: white;"
      } else if (this.wn8 >= 600 && this.wn8 <= 899) {
        color = "background-color: #CCB800;color: white;"
      } else if (this.wn8 >= 900 && this.wn8 <= 1199) {
        color = "background-color: #849B24;color: white;"
      } else if (this.wn8 >= 1250 && this.wn8 <= 1599) {
        color = "background-color: #4D7326;color: white;"
      } else if (this.wn8 >= 1600 && this.wn8 <= 1999) {
        color = "background-color: #4099BF;color: white;"
      } else if (this.wn8 >= 2000 && this.wn8 <= 2449) {
        color = "background-color: #3972C6;color: white;"
      } else if (this.wn8 >= 2450 && this.wn8 <= 2899) {
        color = "background-color: #793DB6;color: white;"
      } else if (this.wn8 >= 2900) {
        color = "background-color: #401070;color: white;"
      }

      return color + "text-align:center;" + "vertical-align:bottom"
    },

    winrateColor: function() {
      let color;
      if (this.winrate < 46) color = "background-color: #930D0D;color: white;";
      else if (this.winrate >= 46.0 && this.winrate <= 46.99)
        color = "background-color: #cd3333;color: white;"
      else if (this.winrate >= 47 && this.winrate <= 47.99)
        color = "background-color: #CC7A00;color: white;"
      else if (this.winrate >= 48 && this.winrate <= 49.99)
        color = "background-color: #CCB800;color: white;"
      else if (this.winrate >= 50 && this.winrate <= 51.99)
        color = "background-color: #849B24;color: white;"
      else if (this.winrate >= 52 && this.winrate <= 53.99)
        color = "background-color: #4D7326;color: white;"
      else if (this.winrate >= 54 && this.winrate <= 55.99)
        color = "background-color: #4099BF;color: white;"
      else if (this.winrate >= 56 && this.winrate <= 59.99)
        color = "background-color: #3972C6;color: white;"
      else if (this.winrate >= 60 && this.winrate <= 64.99)
        color = "background-color: #793DB6;color: white;"
      else if (this.winrate >= 65)
        color = "background-color: #401070;color: white;"

      return color + "text-align:center;" + "vertical-align:bottom"
    },

    roundWN8: function() {
      return parseFloat(this.wn8).toFixed(2);
    }
  }
};
</script>
