<template>
<div>
  <div>
   
  </div>
  <table class="w3-table">
    <thead>
      <tr>
        <th style='text-align: center;'>Meno</th>
        <th style='text-align: center;'>Bitiek celkom</th>
        <th style='text-align: center;'>Winrate</th>
        <th style='text-align: center;'>WN8</th>
        <th style='text-align: center;'>Global rating</th>
        <th style='text-align: center;'>Pocet X</th>
        <th style='text-align: center;'>Pocet 8</th>
        <th style='text-align: center;'>Pocet 6</th>
        <th style='text-align: center;'>Bitiek 7 dni</th>
        <th style='text-align: center;'>Bitiek 14 dni</th>
        <th style='text-align: center;'>Bitiek 30 dni</th>
        <th style='text-align: center;'>Avg XP</th>
        <th style='text-align: center;'>Polni v.</th>
        <th style='text-align: center;'>Naborar</th>
      </tr>
    </thead>
    <tbody>
    <template v-if="data===null">Nahravam udaje zo servera ... </template>    
        <RowComponent v-for="value in data" :key="value.account_id"
        :name="value.account_name"
        :battles_all="value.battles_all"
        :winrate="value.winrate"
        :wn8="value.wn8"
        :global_rating="value.global_rating"
        :pocet_x="value.pocet_x"
        :pocet_8="value.pocet_8"
        :pocet_6="value.pocet_6"
        :last14='value.last14'
        :last7='value.last7'
        :last30='value.last30'
        :avgxp='value.avgxp'
        :polni_velitel='value.polni_velitel'
        :naborar='value.naborar'
        />    
    </tbody>
  </table>
  <hr />
  <div class="w3-row" v-if="data !=null">
    <div class="w3-third">Pocet zaznamov: {{meta.count}} Stranok: {{meta.pages}}</div>
    <div class="w3-third"> 
      <div class="w3-bar">
        <button class="w3-button" v-on:click.prevent="pageMinus">&laquo;</button>
        <button class="w3-button">{{page}}</button>
        <button class="w3-button" v-on:click.prevent="pagePlus">&raquo;</button>
      </div>
    </div>
  </div>
</div>
</template>

<script>
import RowComponent from './RowComponent.vue'

export default {
  name: 'Table',
  components: {
    RowComponent
  },

  data () {
    return {
      data: null,
      meta: null,
      page: 1,
      url: 'https://fpcstat.cz/api/nabor',
      styles: ""
    }
  },

  created () {
    this.fetchData()
  },
  methods: {
    fetchData (param = null) {
      if(param != null){
        var url = this.url + param
      }
      else{
        url = this.url
      }      
      fetch(url)
        .then(response => {
          return response.json()
        })
        .then(json => {
          this.data = json.result
          this.meta = json.meta
        })
    },
    pageMinus () {
      if(this.page > 1){
        this.page -= 1 
        this.fetchData('?page='+this.page)
      }
      
    },

    pagePlus () {     
        if(this.page < this.meta.pages)
        {
          this.page += 1 
          this.fetchData('?page='+this.page)
        }
        
      
    }
  }
}
</script>
