html, body {
     font-family: 'Nunito', sans-serif !important;
     font-size: 14px;
}

table tbody, td {
     color: black;
     font-weight: 100;
     text-decoration: none;
     font-size: 0.8rem;
     
}     

.table-stat {
     table-layout: fixed;
     max-width: 100% !important;
     font-size: 0.8rem;
}
.small{
     font-size: 0.8rem;
}

thead {
     background-color: bisque;
}

tbody>tr {
     border-width: 1px;
     border-bottom-style: solid;
     padding: 5px;
}

tr>td {
     padding: 5px;
}

tbody>tr:nth-of-type(odd) {
     background: #f5f5f5f8;
}

.text-right {
     text-align: end;
}

.text-center {
     text-align: center;
}
.text-left {
     text-align: start;
}

.container {
     display: flex;
     justify-content: center;
     margin-left: 0.5vw;
     margin-right: 0.5vw;
}

a {
     color: #636b6f;
     padding: 0 25px;
     font-size: 0.8rem;
     font-weight: 600;
     letter-spacing: .1rem;
     text-decoration: none;
     text-transform: uppercase;
}

.chat_container {
     display: flex;
     justify-content: flex-start;
     width: 100%;
}

.chat {
     display: flex;
     flex-direction: column;
     width: 70%;
}
h1, h2, h3, h4 {
     font-family: 'Nunito', sans-serif !important;
}

h3 {
     
     font-size: 1.3rem;
}

.chat_form {
     display: flex;
     padding: 15px;
     align-items: center;
     justify-content: flex-start;
}

.chat_table {
     display: flex;
     align-items: center;
     justify-content: center;
     padding: 15px;
}

.flex-center {
     align-items: center;
     display: flex;
     justify-content: center;
}

.content {
     display: flex;
     flex-direction: column;
     text-align: center;
}

.info {
     margin-top: 0vh;
     width: 50%;
     font-family: 'Nunito', sans-serif;
}

.td-small {
     font-size: 0.9rem;
}

.fp-m {
     margin: 5px;
}


.shadow {
     box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
}

.button {
     background-color: bisque;     
     color: black;
     padding: 0.2rem;
     margin-right: 0.2rem;
     width: 8rem;
}

.button#load {
     border: 2px solid #4CAF50;
}

.button#menu {
     border: 1px solid #fc9b27;
}


.button#save {
     border: 2px solid rgb(255, 150, 64);
}

.button#delete {
     border: 2px solid rgb(248, 12, 4);
}

.button {
     -webkit-transition-duration: 0.4s;
     /* Safari */
     transition-duration: 0.4s;
}

.button:hover#load {
     background-color: #4CAF50;
     /* Green */
     color: white;
}

.button:hover#menu {
     background-color: #fc9b27;     
     color: white;
}

.button:hover#save {
     background-color: rgb(255, 150, 64);
     /* Green */
     color: white;
}

.button:hover#delete {
     background-color: rgb(248, 12, 4);
     /* Green */
     color: white;
}

.mb-1 {
     margin-bottom: 1rem;
}

.mb-2 {
     margin-bottom: 2rem;
}

.mr-1 {
     margin-right: 1rem;
}

.bg-red {
     background-color: red;
}

.bg-green {
     background-color: #4CAF50;
}
.menu-bar {
     display: flex;
     height: 4rem;     
     border-bottom-width: thin;
     border-bottom-style: solid;
     margin-bottom: 1rem;
}
.align-self-center {
     align-self: center;
}


@media only screen and (max-width: 480px) {
     [class*="info"] {
          width: 100%;
          font-size: 0.8rem;
     }
     [class*="odchody"] {
          width: 100%;
          font-size: 0.5rem;
          justify-content: flex-start;
     }
     [class*="chat"] {
          width: 97%;
          font-size: 0.8rem;
     }
     .odchody table tbody thead td th {
          font-size: 0.5rem;
     }
     [class="menu"] {
          font-size: 0.8rem;
     }
     .no-mobile {
          display: none;
     }
}